body, html {
    height: 100%;
    width: 80%;
    margin: 0;
    padding: 5px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #abd2cd; 
    padding-top: 10px; 
  }
  
  .container {
    width: 80%;
    height: 60%; 
    margin-top: auto;
    margin-bottom: 10%; 
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 100px;
    
  }
  
  header {
    background: #f8f8f8;
    box-sizing: border-box; 
    width:100%; 
    text-align: left; 
    padding-left: 10px;
    padding-right: 10px;
  }
  
  nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start; 
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;

    padding: 5px 10px;
    border-radius: 50px;
  }
  
  nav ul li a.active,
  nav ul li a:hover {
    background-color: #d94f5c;
    color: rgb(0, 0, 0);
    border:solid red 1px;
  }
  
  main {

    background: #eef2f7;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    height: 100%;
    
  
  }
  
  section {
  
    background: white;
    width: 100%; /* Fills the width of the main area */
    height: 95%;
    border:solid 1px black;
    border-right-width: 2px;
    border-bottom-width: 2px;

  
  
   
  }

  p {
    padding: 10px;
  }    
  
   h1 {
    margin-bottom: 0px;
  }
  
  /* Add your own styles below */