body {
    font-family: 'Inika', serif;
    color: rgba(233, 233, 233, 0.94);
    background-image: url('../proiect-html-css/images/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

html, body {
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between; /* Menține logo-ul la stânga și elementele navbar-ului la dreapta */
}

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #39edf3db;
    border: 2px solid rgba(75, 216, 216, 0.362);
    padding: 10px 15px;
    border-radius: 10px 25px;
    box-shadow: inset 0 0 10px rgba(234, 255, 255, 0.521);
    background-color: transparent;
    margin-top: 20px;
    margin-left: 20px;
} 


.nav {
    display: flex;
    justify-content: center; /* Centrează elementele navbar-ului */
    align-items: center;
    list-style-type: none;
    flex-grow: 1;
    padding-left: 0; /* Ajustează conform necesităților */
    margin-right:150px;
}

.nav li {
    display: inline-block; /* Asigură că elementele listei is afișate pe orizontală */
    margin: 0 20px; /* Spațierea dintre elementele navbar-ului */
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
}

.nav a:hover, .nav a:focus {
    color: rgb(0, 166, 255);
    background-color: #9898986a;
    border-radius: 5px;
}

.contact-info {
    text-align: center;
    padding: 8px;
    background-color: transparent;
    color: #dddddd81;
    font-size: large;
    align-content: center;
}
